version: '3.1'
services:
  web:
    image: odoo:16.0
    depends_on:
      - mydb
      - label_generator
    volumes:
      - cbk-web-data:/var/lib/odoo
      - ./odoo/addons:/mnt/extra-addons
    ports:
      - "8069:8069"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - HOST=mydb
      - USER=odoo
      - PASSWORD=myodoo
  label_generator:
    image: codebynetwork/label-generator
    ports:
      - "3333:3333"
  mydb:
    image: postgres:15
    volumes:
      - cbk-db-data:/var/lib/postgresql/data/pgdata
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=myodoo
      - POSTGRES_USER=odoo
      - PGDATA=/tmp
volumes:
  cbk-db-data:
    driver: local
  cbk-web-data:
    driver: local
