version: '3.1'
services:
  web:
    image: odoo:16.0
    depends_on:
      - mydb
    volumes:
      - cbk-web-data:/var/lib/odoo
      - ./addons:/mnt/extra-addons
    ports:
      - "8069:8069"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - HOST=mydb
      - USER=odoo
      - PASSWORD=myodoo
  mydb:
    image: postgres:15
    volumes:
      - cbk-db-data:/var/lib/postgresql/data/pgdata
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=myodoo
      - POSTGRES_USER=odoo
      - PGDATA=/tmp
  proxy:
    image: nginx
    volumes:
      - ./config/nginx.conf.template:/etc/nginx/templates/default.conf.template
    ports:
      - "80:80"
    environment:
      - NGINX_HOST=moving.codebykyle.com
      - NGINX_PORT=80
      - ODOO_PORT=8069
    network_mode: 'host'
volumes:
  cbk-db-data:
    driver: local
  cbk-web-data:
    driver: local
